<section class="d-none d-md-block">
  <div class="row">
    <div class="col-12">
      <app-carousel></app-carousel>
    </div>
  </div>
</section>


<div class="container principal">
  <div class="card card-configur">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-6 radius">
          <img
            src="../../../../assets/img/Mau TBR.png"
            class="mr-auto"
            alt="..."
          />
        </div>
        <div class="col-12 col-md-6">
          <p class="text1">
            Welcome to Baja!
            <strong>Tasty Baja Ride</strong>
            arises from the idea to boost "Alternative Tourism" to promote the local economy in a sustainable way, conserving and enjoying the natural ecosystems in the southern region of Baja.
            .
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-pricing></app-pricing>
