table {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.name {
    color: #e63023;
    width: 450px;
}

/* Spinner */

.tours {
    text-align: center;
}


.spinner {
    margin-top: 10rem;
    margin-bottom: 10rem;
    display: inline-block;
}