<table class="table table-striped table-hover table-borderless">
    <thead>
        <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Tour</th>
            <th scope="col">Date</th>
            <th scope="col">PickUp</th>
            <th scope="col">Transport</th>
            <th scope="col">Email</th>
            <th scope="col">Phone number</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr class="text-center" *ngFor="let reservation of reservations; index as i">
            <td scope="row"> <strong>{{i + 1}}</strong> </td>
            <td> <strong>{{reservation.name}}</strong> </td>
            <td>{{reservation.title}}</td>
            <td>{{reservation.date | date: 'MMM d, y'}}</td>
            <td>{{reservation.pickUp}}</td>
            <td>{{reservation.transport}}</td>
            <td>{{reservation.email}}</td>
            <td>{{reservation.phone}}</td>
            <td>
                <div class="row">
                    <div class="col mt-2">
                        <button type="button" class="btn btn-danger btn-block" (click)='onDeleteReservation(reservation.id)'>Delete</button>
                    </div>
                </div>
                <div class="row">
                
                    <div class="col mt-2">
                        <button *ngIf="reservation.status != 'Pending'" (click)='onPendingReservation(reservation)'  type="button" class="btn btn-outline-warning btn-block"> Pending </button>
                        <button *ngIf="reservation.status == 'Pending'" type="button" class="btn btn-warning btn-block disabled"> Pending </button>
                    </div>
                    
                    <div class="col mt-2">
                        <button *ngIf="reservation.status != 'Confirm'"  (click)='onConfirmReservation(reservation)' type="button" class="btn btn-outline-success btn-block">Confimr</button>
                        <button *ngIf="reservation.status == 'Confirm'" type="button" class="btn btn-success btn-block disabled">Confimr</button>
                    </div>

                    <div class="col mt-2" >
                        <button *ngIf="reservation.status != 'Cancelled'" (click)='onCancelledReservation(reservation)'  type="button" class="btn btn-outline-danger btn-block">Cancel</button>
                        <button *ngIf="reservation.status == 'Cancelled'" type="button" class="btn btn-danger btn-block disabled">Cancel</button>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>