<section id="tours m-3">
    <h2 class="title">Tours</h2>
    <div *ngIf="tours.length === 0" class="tours">
        <div class="spinner-border spinner" role="status">
            <span class="sr-only">Loading...</span>
        </div>  
        <p>There is no data to show</p>        
    </div>
    <table class="table">
        <thead>
            <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center" *ngFor="let tour of tours; index as i">
                <td scope="row"> <strong>{{i + 1}}</strong> </td>
                <td> <strong>{{tour.title}}</strong> </td>
                <td>$ <small>USD</small> {{tour.price}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#modalTours" (click)='onPreUpdateTour(tour)'>Update</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger btn-block" (click)='onDeletTour(tour.id)'>Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</section>
<app-modal></app-modal>