<section class="pricing py-5">
    <div class="container">
      <div class="row">
        <!-- Free Tier -->
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0" style="min-height: 650px;">
            <div *ngIf="!price1" class="price1">
              <!-- <div class="spinner-border spinner" role="status">
                  <span class="sr-only">Loading...</span>
              </div>     -->
              <p>There is no data to show</p>      
          </div>
            <div *ngIf="price1" class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center"> {{price1.title}} </h5>
              <!-- <h6 class="card-price text-center">${{price1.price}} USD</h6> -->
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check"></i></span>{{price1.characteristic1}} </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>{{price1.characteristic2}}</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>{{price1.characteristic3}}</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>{{price1.characteristic4}}</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>{{price1.characteristic5}}</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>{{price1.characteristic6}}</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>{{price1.characteristic7}}</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>{{price1.characteristic8}}</li>
              </ul>
              <!-- <button type="button" routerLink="/reservas" class="btn btn-block btn-primary text-uppercase ">Reserve</button> -->
            </div>
          </div>
        </div>
        <!-- Plus Tier -->
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0" style="min-height: 650px;"> 
             <div *ngIf="!price2" class="price2">
              <!-- <div class="spinner-border spinner" role="status">
                  <span class="sr-only">Loading...</span>
              </div> -->
              <p>There is no data to show</p>      
          </div>
            <div *ngIf="price2" class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center"> {{price2.title}} </h5>
              <!-- <h6 class="card-price text-center">${{price2.price}} USD</h6> -->
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check"></i></span>{{price2.characteristic1}} </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>{{price2.characteristic2}}</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>{{price2.characteristic3}}</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>{{price2.characteristic4}}</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>{{price2.characteristic5}}</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>{{price2.characteristic6}}</li>
                <!-- <li><span class="fa-li"><i class="fas fa-check"></i></span>{{price2.characteristic7}}</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>{{price2.characteristic8}}</li> -->
              </ul>
              <!-- <button type="button" routerLink="/reservas" class="btn btn-block btn-primary text-uppercase ">Reserve</button> -->

            </div>
          </div> 
        </div>
        <!-- Pro Tier -->
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0" style="min-height: 650px;">
            .<div *ngIf="!price3" class="price1">
              <!-- <div class="spinner-border spinner" role="status">
                  <span class="sr-only">Loading...</span>
              </div>     -->
              <p>There is no data to show</p>      
          </div>
           <div *ngIf="price3" class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center"> {{price3.title}} </h5>
              <!-- <h6 class="card-price text-center">${{price3.price}} USD</h6> -->
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check"></i></span>{{price3.characteristic1}} </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>{{price3.characteristic2}} </li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>{{price3.characteristic3}}</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>{{price3.characteristic4}}</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>{{price3.characteristic5}}</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>{{price3.characteristic6}}</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>{{price3.characteristic7}}</li>
                <!-- <li><span class="fa-li"><i class="fas fa-check"></i></span>{{price3.characteristic8}}</li> -->
              </ul>
              <!-- <button type="button" routerLink="/reservas" class="btn btn-block btn-primary text-uppercase ">Reserve</button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>