<footer>
    <div class="container">
        <div class="row">
            <div class="section col-12 col-md-4">
                <h2>About Us!</h2>
                <p>
                    Tasty Baja Ride was founded in 2018 by mexican entrepreneurs with the purpose of share
                    the natural richness of Baja Sur, its culture, customs, traditions and specially to connect
                    people with local gastronomy through a new ecotourism adventure in a cozy environment
                    with customized trips to suit your needs with extraordinary service. All in one ride!
                </p>
                <a href="mailto:management@tastybajaride.com">management@tastybajaride.com</a>
            </div>
            <div class="section col-12 col-md-4 text-center">
                <h2>Follow Us</h2>
                <div class="row">
                    <div class="col-12 col-md-6 col-center">
                        <a href="https://www.facebook.com/tastybajaride" target="_blanck">
                            <i class="fab fa-facebook fa-3x"></i>
                            <p> FACEBOOK</p>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-center">
                        <a href="https://www.instagram.com/tasty_baja_ride/?hl=es-la" target="_blanck">
                            <i class="fab fa-instagram fa-3x"></i>
                            <p> INSTAGRAM </p>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 col-center">
                        <!-- <a href="https://api.whatsapp.com/send?phone=5216242200162" target="_blanck"> -->
                            <a href="https://wa.link/ydzyxr" target="_blanck">
                            <i class="fab fa-whatsapp fa-3x"></i>
                            <p> WHATSAPP </p>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-center">
                        <!-- <a href="https://api.whatsapp.com/send?phone=5216242200162" target="_blanck"> -->
                            <a href="https://wa.link/ydzyxr" target="_blanck">
                            <i class="fa fa-phone fa-3x"></i>
                            <p> +52 624 220 0087 </p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="section col-12 col-md-4">
                <!-- Formulario -->
                <app-form></app-form>
                <!-- Formulario -->
            </div>
        </div>
    </div>
    <div>
        <div class="row mt-5">
            <div class="col-12 col-md-12 copy">
                Copyright &copy; Tasty Baja Ride and <a href="http://dimente.com.mx/"> Dimente </a> {{anio}} | Programed by <a href="https://portafolio-251203.web.app/#/home" target="_blank"> Mario Villela</a>
            </div>
        </div>
    </div>
</footer>